# Python Basics

* this notebook will cover some basic features of python like
    * python print
    * basic python data types

In [4]:
print("Hello Python World")

Hello Python World

#### Python Version Alert!

* python 3 doesn't support python 2 statement sytnax without parentheses
* following code will not work!

In [5]:
print 'Hello Python2 World'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1206235578.py, line 1)

#### Python Data Types and Variables

* python supports several fundamental data types like
    * int
    * float
    * str
    * bool
* data type belongs to data (value) and not to variables
* a variable is a just a generic name to refer to a value
    * It doesn't have it's type 
    * A variable may refer to different data and different point in time

#### Language Alert!

* Languages like c/c++/java/c# associate a type with a variable
* an int variable can't refer to a string

<pre>
int x = 20;
x="Hello" ; //not allowed
</pre>

In [6]:
x=20 # x refers to value 20 that is int
print(x)  # prints 20

x='hello' # x now refers to 'hello' which is str
print(x)

20
hello

#### we can identify type of a value by calling type()

In [7]:
print(type(20))
print(type(20.4))
print(type('x'))
print(type('hello'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

#### types are associated with values and not variables

* a variable just reflects the type of value it is referring at that momemnt

In [8]:
x = 20
print(type(x)) # int

x='Hello'

print(type(x)) # str

<class 'int'>
<class 'str'>

#### closer look at print

* A print can print one or more values in a single command 
* by default it will **sep**arate multiple values with a single space
* after every print it **end**s the line with a new line

In [9]:
print(1,2,3,4)
print(5,6)
print(7,8,9,10)
print('end')

1 2 3 4
5 6
7 8 9 10
end

#### we can customize print by defining **sep** and **end** in
* we can include a **sep** to tell the value to be used for separating multiple items in same print

* we can sepecify **end** to tell what should be added after print

In [10]:
print(1,2,3,4, sep=',') #separate 1,2,3,4 using comma instead of blank
print(4,5,6, end='\t') # don't leave the line end with a tab
print(8,9,10, sep='-->')
print('end')

1,2,3,4
4 5 6	8-->9-->10
end

In [11]:
print(1,2,3,4, sep='\n')

1
2
3
4

### A word on tab

* A tab character is designed to form a tabular output
* each tab has given space (8-10 chars)
* Next tab begins in next tab zone.
    * there is no fixed number of character that a tab leaves.
* If we have content larger than a tabl zone, it may leave the rest of space

In [22]:
print("Id\tName\tSalary")
print("1\tVivek\t1000")
print("2\tPrabhat\t2000")
print("2\tSanjay Mall\t2000")

Id	Name	Salary
1	Vivek	1000
2	Prabhat	2000
2	Sanjay Mall	2000

### **str**ing type

* A string can be any sequence of character quoted with
    * single quotes:  'Hello'
    * double quotes:  "Hello"
    * tripple quotes
        * tripple single quote: '''Hello'''
        * tripple double quote : """Hello"""

* All the strings are similar in their usage, with some addtional feature in trippled quoted string

In [23]:
x='Hello'
y="Hello"
z='''Hello'''

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

### What is special about tripple quoted string

* A tripple quoted string can span in multiple lines
    * other's can't
* They preserve the whitespace (blank, \t, \n) and print them as it is
* It can be useful for
    * representing multiple line templated text like
        * address
        * html templates

* There is no difference between tripple single quote and tripple double quote.

In [24]:
x="He
llo"

SyntaxError: unterminated string literal (detected at line 1) (1576714958.py, line 1)

In [32]:
book_info='''
Title:  The Accursed God
Author: Vivek Dutta Mishra
Price:  299
'''

In [33]:
print(book_info)

Title:  The Accursed God
Author: Vivek Dutta Mishra
Price:  299

In [34]:
book_info

'\nTitle:  The Accursed God\nAuthor: Vivek Dutta Mishra\nPrice:  299\n'

#### Wait! Isn't tripple quotes used for commenting?

* tripple quoted strings are not meant to be a comment.
* It is more of hack to use it as comment
* Any value that is not referred and printed in a script will not be visible
* It may not have any impact on code
* But it will give no error

In [35]:
#following string will exist without side effect
'''
I am a python string that is not referred by a variable
I can't be printed as there is no reference
But I will cause no problem. I will just exist
So you may use me as non programming text or 
Multi-line comment
'''

print("Hello World")

Hello World

#### String Formatting

* python 3.6+ introduced a simplified string formatting syntax.
* There were older syntax to do the same job but with python 3.7+ they are no more needed.

#### Older syntax that works even now.

```python
x=20
y=30

print( 'sum of {0} and {1} is {2}'.format(x,y,x+y))
```

In [36]:
x=20
y=30

print( 'sum of {0} and {1} is {2}'.format(x,y,x+y))

sum of 20 and 30 is 50

#### Python 3.6+ f-string

* we can define  string with f "prefix" before quotes

```python
x=20
y=30
o= f'sum of {x} and {y} is {x+y}'
print(o)
```

In [38]:
x=20
y=30
o= f'sum of {x} and {y} is {x+y}'
print(o)

sum of 20 and 30 is 50

#### About Jupyter Notebook

1. It is a REPL, just like a python terminal
    * each code block runs same shell
    * any value/variable added in a pervious block will also be accessible in the next block as they run in the same shell

2. In a block if you type just  value no print statement The result will be shown
    * Remember REPL includes Print

In [13]:
20+30

50

#### Important
* If you have multiple expression in a single block and not print
    * it will execute all the expressions in the block
    * but it will print the value of the last expression only


* If you want to print multiple values in a single block, use explicit print

In [14]:
2+3
4+7
8-2

6

In [17]:
x=2
y=3
z=4
z

4

In [18]:
print(x)
print(y)
print(z)

2
3
4

### Final Note

* print may be ingored in REPL (python shell or Jupyter) **but not in scripts**
* a **.py** file needs explicit print to print anything
* it won't print any value by default;

#### Difference Between using and not using Print

* In REPL (and Jupyter) when we don't use print, it shows the actual value of the value 
* This will be clear in strings with escape characters
* Print processes the escape characters
    * REPL doesn't

In [29]:
x="Hello\tWorld\nWelcome\tTo\tPython"

In [30]:
x

'Hello\tWorld\nWelcome\tTo\tPython'

In [31]:
print(x)

Hello	World
Welcome	To	Python