## What is a sequence?

* A sequence is a series of values that can be accessed one by one 
    * for loop exsits to access a sequence.
* These values may be
    * stored
    * computed

#### stored sequences

* they store a series of values in memory and can give it to you on demand
* generally comparable to **collections** of other programming languages
* Important sequences in this series include
    * list 
        * like an array of other languages
        * linear, indexed dynamic sequence

    * tuple
        * like a readonly non-dynamic list

    * set
        * it is non-linear sequece of **unique values**
        * can't be accessed using index
        * igonores duplicates

    * dict
        * a key value pair 
        * dynamic
        * non-linear
        * indexed with key
        * key/index can be non-int

    * str
        * Yes!
        * string is a linear sequence of characters

#### computed sequence

* these values are not stored in memory but computed on the fly
* each next value is computed on demand
* can represent arithmetic sequences like
    * linear range 1-100
    * fibonocci series
    * prime series

#### for loop

* python's for loop is different from other languages
* it is designed mostly to each value of a sequence one by one
* it is more like 
    * foreach loop of c#
    * for-of loop of javascript
* It is not designed as 
    * **for(i=0;i<n;i++)**

* The key goal is

```python
for value in seq:
    print(value) # each value present in sequence will be printed one by one
```

In [10]:
def print_sequence(seq):
    for value in seq:
        print(value,end=' ')
    print()

#### even string is a sequence

In [11]:
print_sequence("Hello World")

H e l l o   W o r l d

### list

* Linear
* Indexed
* Dynamic
    * can grow
* comparable to array of other languages

#### Langauge difference!

* unlike c, a python array is not a array of items of same type
* python doesn't have string type
* array is just a reference to different values
* same array may hold different type of values

In [12]:
values = [2,3,'Hello', False, 8.1, 9]
print_sequence(values)

2 3 Hello False 8.1 9

##### A sequence will have a length

In [13]:
print(len(values))

6

#### sequences have built-in mechansim to print all it's content

In [14]:
print(values)

[2, 3, 'Hello', False, 8.1, 9]

#### we can add new items to a **list**

* we have methods like
    * append
    * insert
    * extend
* we can remove the items from a list using
    * pop() 
    * remove
* we have other features like
    * reverse
    * sort
* for more details check out **help(list)**

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [16]:
values=[1,2,3,4]
print(values)

[1, 2, 3, 4]

In [17]:
values.append(20) # append at the end
values.append(30)

# insert at zero based index
values.insert(2,100); #[1,2,100,3,4,20,30]

print_sequence(values)

1 2 100 3 4 20 30

In [18]:
values=[1,2,3,4,5,6,7,8,9,10]
values2=[11,12,13,14,15]

values.append(values2)

print(len(values))

11

### How is the result 11?

* values2 is a list
* a list is a value in itself
* we are adding the whole list as an item in the first list

In [19]:
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13, 14, 15]]

###### what if I want to copy the values from the second list to the first

* we have a function called "extend"

In [20]:
values=[1,2,3,4,5,6,7,8,9,10]
values2=[11,12,13,14,15]

values.extend(values2)

print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### list items can be removed using 
* pop()
    * removes from a given index
    * by default the last item
* remove()
    * removes a given known value from the list

In [23]:
values.pop(0)

1

In [24]:
values.pop()

15

In [25]:
values.remove(10)

In [26]:
print(values)

[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14]

In [27]:
values.remove(10)

ValueError: list.remove(x): x not in list

In [29]:
print(7 in values)
print(20 in values)

True
False

In [33]:
print(values.index(7))

5

In [34]:
print(values.index(20))

ValueError: 20 is not in list

### list count

* can't count occurance of an item in the list

In [35]:
values = [2,9,11,2,4,8,7,13,5,2,5,11,1]

print(values.count(2))
print(values.count(11))
print(values.count(100))

3
2
0

### Indexer in List

* A list supports 0 based index
* Attempt to access index>=len(list) will result in error

In [37]:
values=[1,2,3,4,5]
print(values[0])
print(values[4])
print(values[100])

1
5

IndexError: list index out of range

### Negative Indeces

* python supports negative indecs
* -1 indicates the last item
* -2 indicates second last 
* ... 
* -len(values) indcates the first item

In [38]:
values=["India","USA","Canada","France","Germany"];
print(values[-1])
print(values[-len(values)])

Germany
India

In [39]:
n= -1
while n>= -len(values):
    print(values[n],end="\t")
    n-=1

Germany	France	Canada	USA	India

In [40]:
values.reverse()

In [41]:
print(values)

['Germany', 'France', 'Canada', 'USA', 'India']

### index range slicing

* python can return a new list with a range of values given as index

```python 
values[min:max:gap]
```

* by default all three values are optional
    * colon is not 
* min defaults to 0
* max is exclusive but defaults to len
* gap defaults to 1

In [45]:
values=[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200]

In [46]:
values[5:7] # [50,60]

[50, 60]

In [47]:
values[15:] # 15th to end [150,160,170,180,190,200]

[150, 160, 170, 180, 190, 200]

In [48]:
values[0:15:3] # [0,30,60,90,120]

[0, 30, 60, 90, 120]

In [49]:
values[::5] # return every fifth value starting 0

[0, 50, 100, 150, 200]

In [50]:
values[::] # duplicate the whole list

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200]

In [51]:
values[::-1] # reverse the list

[200,
 190,
 180,
 170,
 160,
 150,
 140,
 130,
 120,
 110,
 100,
 90,
 80,
 70,
 60,
 50,
 40,
 30,
 20,
 10,
 0]

### Tuple

* is like a readonly array of values
* it supports all the features of array which doesn't modify it like
    * indexers (all types)
        * access values
    * count
    * in
    * index
* It will not modify the list so no method present for
    * append
    * indexer
        * to modify values
    * extend
    * insert
    * remove
    * pop()


#### we create tuple by enclsing values in **()**

In [53]:
values=(2,3,5,9,2)
print(type(values))
print(values)

<class 'tuple'>
(2, 3, 5, 9, 2)

In [55]:
print(values.count(2))# 2
print(values.count(100)) # 0
print(2 in values) #True
print(100 in values) #False

2
0
True
False

In [56]:
values.append(10)

AttributeError: 'tuple' object has no attribute 'append'

### tuple special cases

#### A tuple of multiple items

```python
values=(1,2,3,4,5)
```

#### A tuple of one item?

```python
value=(1)
```

* this will be treated as an expression in a parentheses like (2+3)
* it will be an int

In [57]:
value=(2)
print(type(value))

<class 'int'>

#### to create a tuple of 1 Item

In [58]:
value=(2,) # trailing comma makes it a tuple
print(type(value))

<class 'tuple'>

#### How do you create a tuple of 0 item?

* we don't need a tuple of 0 item
* A list of 0 item makes sense because we can add item later
* A tuple doesn't allow addition
* Still we can use named tuple format

In [64]:
t1= tuple()
print(type(t1))

<class 'tuple'>

In [65]:
t2= tuple([1,2,3]) # a tuple created from a list

print(type(t2))
print(t2)

<class 'tuple'>
(1, 2, 3)

#### 3. set

* A set is denoted with values enclosed in braces {2,3,9}
* non-linear
    * doesn't support any form of indexer
* mutable
    * can be modified
    * items added
    * remove
* sequence
    * supports
        * in
        * for loop
        * length

* of unqiue items
    * duplicates are rejected
* has special method for set-theory operations
    * union
    * intersection
    * difference
    


#### creating a set object

In [66]:
set1 = {2,3,9,2,6}

print(type(set1)) #set
print(len(set1))  # 4  2 is duplicate.
print(set1)

<class 'set'>
4
{9, 2, 3, 6}

#### Important

* set doesn't include the item in same order as we added it
* it is not linear

In [67]:
set2 = set([2,3,9,2,6])
print(set2)

{9, 2, 3, 6}

In [68]:
print(set1[0])

TypeError: 'set' object is not subscriptable

### set theory operations

In [69]:
numbers={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}
odds={1,3,5,7,9,11,13,15}
evens={0,2,4,6,8,10,12,14}
f5={5,10,15}

In [71]:
odds.issubset(numbers) # all items of odds is present in numbers

True

In [72]:
evens.issubset(numbers) # even has a value 0 which is not part of numbers

False

In [74]:
f5.isdisjoint(odds) #False. there are common elements 5,15

False

In [75]:
odds.isdisjoint(evens) #True. No common element

True

In [76]:
odds.union(f5) # all items from odds and f5

{1, 3, 5, 7, 9, 10, 11, 13, 15}

In [77]:
odds.intersection(f5) # common between the two {5,15}

{5, 15}

In [78]:
f5.difference(odds) # items present in f5 but not in odds {10}

{10}

### optional update version

* we have an update version for common operations which updates the caller object with result
    * insersection ---> intersection_update
    * difference ---> difference_update
    * union ---> update

In [80]:
set1={1,2,3,4,5}
set2={4,5,6,7}

set1.update(set2) # {1,2,3,4,5,6,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [82]:
set1={1,2,3,4,5}
set2={4,5,6,7}

set1.intersection_update(set2) # {4,5}
print(set1)

{4, 5}

In [83]:
set1={1,2,3,4,5}
set2={4,5,6,7}

set1.difference_update(set2) # {1,2,3}
print(set1)

{1, 2, 3}

In [84]:
set1.add(20)
print(set1)

{1, 2, 3, 20}

In [85]:
print(20 in set1) #true
print(100 in set1) #false

True
False

In [86]:
print_sequence(set1)

1 2 3 20

### **dict**ionary

* dictionary is a collection of key value pair
* It is non-linear
    * doesn't support list like numeric indexes
* supports index on the key
* key of a dictionary is uqique 
* values are mapped to key and may not be uqique
* supports common sequence options
    * for loop
    * in ---> searches for key not value
    * len()
* represented by key-value pairs (separated by colon) inclosed in curly braces

In [87]:
countries = {"IN":"India",91:"India", "JP":"Japan",
              "DE":"Germany","FR":"France","GB":"United Kingdom"}

In [88]:
print(type(countries))
print(countries)

<class 'dict'>
{'IN': 'India', 91: 'India', 'JP': 'Japan', 'DE': 'Germany', 'FR': 'France', 'GB': 'United Kingdom'}

In [89]:
print('IN' in countries)
print('PK' in countries)

True
False

In [91]:
print( countries[91])
print(countries['DE'])

India
Germany

### we can use indexer to replace the current values

In [93]:
countries['GB'] = "Britain" # replaces old value
countries['CN'] = "China"  #adds a new key value pair

print(countries)

{'IN': 'India', 91: 'India', 'JP': 'Japan', 'DE': 'Germany', 'FR': 'France', 'GB': 'Britain', 'CN': 'China'}

#### looping through a dict

##### standard for loop

* loops through the keys
* to access value we need indexer

In [95]:
print_sequence(countries)

IN 91 JP DE FR GB CN

In [96]:
for key in countries:
    print(key, countries[key],sep=' ==> ')

IN ==> India
91 ==> India
JP ==> Japan
DE ==> Germany
FR ==> France
GB ==> Britain
CN ==> China

#### 2 looping over key value pairs

* we have items() property
* each item is a tuple of two values 
    0 --> key
    1 --> value

In [97]:
for pair in countries.items():
    print(pair[0],pair[1],sep=" => ")

IN => India
91 => India
JP => Japan
DE => Germany
FR => France
GB => Britain
CN => China

### destructuring the key value from the pair

* we can declare two values to destructure the item

In [98]:
for key,value in countries.items() :
    print(key,value,sep="\t=>\t")

IN	=>	India
91	=>	India
JP	=>	Japan
DE	=>	Germany
FR	=>	France
GB	=>	Britain
CN	=>	China

#### Handling not found item

* we can access a item using either
    * [] indexer
        * throws error if not found
    * get
        * returns a default value of user choice if not found
            * defaults to None

In [99]:
print(countries[91])

India

In [101]:
print(countries['PK'])

KeyError: 'PK'

In [103]:
print( countries.get("IN"))

India

In [104]:
print(countries.get("IN","<not-found>")) # returns India
print(countries.get("PK","<not-found>")) # returns <not-found>

India
<not-found>

In [106]:
print(countries.get("IN")) # returns India
print(countries.get("PK")) # returns None

India
None

### dictionary with str keys

* one of the most popular choice for a key in dict is str
* if we are using all str keys we can create dictionary with different notation also
##### Note
* Keys need not be quoted
* Key value are separated by = and not :

In [108]:
countries= dict(IN="India", JP="Japan")

print(countries)

{'IN': 'India', 'JP': 'Japan'}

In [110]:
print(countries.items())
print(countries.keys()) 
print(countries.values())

dict_items([('IN', 'India'), ('JP', 'Japan')])
dict_keys(['IN', 'JP'])
dict_values(['India', 'Japan'])